@font-face { 
	font-family: HelloArchitect; 
	src: url('HelloArchitect.ttf'); 
} 

* {
	color:  white;
	font-family: HelloArchitect;
	font-size: 100px;
	text-align: center;
	background-color: black;
}

body {
	background-color:  black;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content:  center;
}

input:not(:checked) + label {
	font-weight: 1000;
	transform:  scale(1);
	transition: 500ms ease;
	margin:  none;
}

input:checked + label {
	font-weight:  40;
	font-size:  80px;
	opacity:  0.4;
	transform:  scale(0.8);
	transition: 500ms ease;	
	margin:  0px 5px;
}

input[type="checkbox"] {
	opacity:  0;
}

.even {
	color: #9D00FF;
}

.odd {
	color:  #39FF14;
}

.test {
	color: red;
}